htdocs/api/transunion/transunion_xsd2.xml

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/"><xs:complexType name="DownloadDocumentResponseContract"><xs:sequence><xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary"/><xs:element minOccurs="0" name="Response" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="DownloadDocumentResponseContract" nillable="true" type="tns:DownloadDocumentResponseContract"/></xs:schema>